/*
header {
    background-color: #333333;
}

.nav {
    overflow: hidden;
    background-color: #333333;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    color: white;
    background-color: #333333;
    text-decoration: none;
    padding: 14px 16px;
}

.nav li a:hover {
    background-color: #aa3333;
} */

body {
    background-color: #323539;
}

.nav-item:hover {
    background-color: #323539;
}