<!-- Rojen Arda Şeşen -->
{% extends "layout.html" %}
{% block title %} Driver Standings {%endblock%}
{%block content%}
<div class="container-fluid mt-3 bg-dark">
    <form id="delete_driver_standing" action="" method="post" name="delete_driver_standing">
        <table class="table table-dark">
            <tbody>
                <tr>
                    <td><p class="display-5 text-white">Driver Standings</p></td>
                    <td>
                        <div class="text-end">
                            <a class = "btn btn-primary text-end" href="{{ url_for('add_driver_standing_page') }}">Add Driver Standing</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-dark table-hover">
            <thead>
                <th>
                    <div class="control">
                        <button form="delete_driver_standing" class="btn btn-primary">Delete</button>
                    </div>
                </th>
                <th>
                    <div class="control">
                        <a class = "btn btn-primary text-end" href="{{ url_for('update_driver_standing_page') }}">Update</a>
                    </div>
                </th>
                <th>Race</th>
                <th>Driver</th>
                <th>Points</th>
                <th>Position</th>
                <th>Wins</th>
            </thead>
            <tbody>
                {% for driver_standing in driver_standings %}
                <tr>
                    <td>
                        <label class="checkbox">
                            <input type="checkbox" name="driver_standing_id" value="{{driver_standing.driverStandingsId}}">
                        </label>
                    </td>
                    <td>{{driver_standing.driverStandingsId}}</td>
                    <td>{{driver_standing.raceId[1]}}</td>
                    <td>{{driver_standing.driverId[1]}}</td>
                    <td>{{driver_standing.points}}</td>
                    <td>{{driver_standing.position}}</td>
                    <td>{{driver_standing.wins}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{%endblock%}
